<div class='jumbotron text-center'>
	<br><br><br><br><br><br><br><br><br>
	<h1>Welcome to <br> The Sinatra Boilerplate.</h1>
	<br><br><br>
	<p>Your one stop destination to getting to work with <br> Sinatra
		as fast as possible.</p><br><br><br><br><br><br>
		<p>By <a href='//twitter.com/therealcoelho'>Karl Coelho</a></p><br><br><br><br><br><br>
</div>

<style>
	/* Some custom style. Feel free to delete this */
	h1,p {
		font-family: menlo;
		color: white;
	}
	.jumbotron h1 {
		color: white;
	}
	a, a:hover {
		color: #27ae60;
	}
	.jumbotron {
		background-color: #34495e;
	}
</style>
<script>
	console.log('\n\n\n\n\n\nThanks for using Sinatra Boilerplate! Much Love!\n\n\n\n\n\n\n');
</script>