<div class="jumbotron">
	<h1 class="page-header text-center">NJ Fuel Up</h1>
	<p class="text-center">
		Find nearby fueling stations and navigate to bridges, fast.
	</p>

	<hr />

	<div class="container">

		<div class="col-xs-10 col-xs-offset-1">
			<a href="/#!/stations" type="button" class="btn btn-lg btn-primary col-xs-12">Stations</a>
			<br /><hr /><br />
			<a href="/#!/bridges" type="button" class="btn btn-lg btn-primary col-xs-12" disabled="disabled">Bridges (coming soon)</a>
		</div>

	</div>

</div>